
.mapContainer {
    height: 300px;
    width: 300px;
    border: 1px solid black;
    margin: 10px 10px 50px 10px;
    overflow: auto;
}

.gigItem__buttonContainer {

}

.gigItem__outer {
    min-height: 100px;
    line-height: 70px;
    text-align: left;
    margin: 0 30px;
    font-size: 1.3rem;
}