.ravellas {
    background: url('https://scontent.fman2-1.fna.fbcdn.net/v/t31.0-8/11206534_1047014468660566_1994189166478934001_o.png?oh=4b2f990034e91120e62e87b615075c35&oe=5A210741') 50% 50% no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    min-height: 100vh;
}